:root
{
--colorprimary:darkorange;
}

body
{
    background-color: black;
    font-family: tahoma;
}

#buttonsDiv
{
    position: fixed;
    width:100vw;
    max-height: 100vh;
    top:50%;
    transform: translate(0,-50%);
    left:0;
    aspect-ratio: 2/1;

    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: transparent;
}

#switchDiv
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "buttonFollowing" "buttonStop";
    gap: 1em;
    padding: 0.5em;
}

#buttonFollowing
{
    grid-area: buttonFollowing;
}

#buttonStop
{
    grid-area: buttonStop;
}


.switchButton
{ 
    color: var(--colorprimary);
    font-size: 1.5em;

    width: auto;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    border: solid 5px var(--colorprimary);
}

.switchButtonUnactive
{
    background-color: transparent;
    color: var(--colorprimary);
}

.switchButtonActive
{
    background-color: var(--colorprimary);
    color: white;
}

#buttonStop
{
    background-color: var(--colorprimary);
    color:white;
}

#movementDiv
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "buttonRotateLeft buttonForward buttonRotateRight" "buttonLeft . buttonRight" "buttonDown buttonBackward buttonUp";
    grid-gap: 0.5em;
    padding: 0.5em;

}

.movementButton
{
    font-size: 1em;
    border: solid 5px var(--colorprimary);
    background-color: transparent;
    color: var(--colorprimary);

    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.movementButtonActive
{
    background-color: var(--colorprimary);
    color: white;
}

.movementButtonUnactive
{
    background-color: transparent;
    color: var(--colorprimary);
}

.UpDownButton
{
    background-color: transparent;
    color: var(--colorprimary);
    border: solid 5px var(--colorprimary);

    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.UpDownButton:active
{
    background-color: var(--colorprimary);
    color: white;
}

#buttonForward
{
    grid-area: buttonForward;
    background-image: url("graphics/arrowUp.svg");
}

#buttonBackward
{
    grid-area: buttonBackward;
    background-image: url("graphics/arrowDown.svg");
}

#buttonLeft
{
    grid-area: buttonLeft;
    background-image: url("graphics/arrowLeft.svg");
}

#buttonRight
{
    grid-area: buttonRight;
    background-image: url("graphics/arrowRight.svg");
}

#buttonUp
{
    grid-area: buttonUp;
    background-image: url("graphics/spotUp.svg");
}

#buttonDown
{
    grid-area: buttonDown;
    background-image: url("graphics/spotDown.svg");
}

#buttonRotateLeft
{
    grid-area: buttonRotateLeft;
    background-image: url("graphics/arrowTurnLeft.svg");
}

#buttonRotateRight
{
    grid-area: buttonRotateRight;
    background-image: url("graphics/arrowTurnRight.svg");
}

@media (orientation: portrait) {
    #buttonsDiv
    {   
        grid-template-columns: None;
        grid-template-rows: 1fr 1fr;
        aspect-ratio: 1/2;
    }
}